body {
  font-family: 'DM Sans', sans-serif;
}

h1 {
  font-weight: 400;
  font-size: 0.875rem;
  @media all and (min-width: $md) {
    font-size: 2.25rem;
  }
}

button,
.sort-select {
  font-size: 18px;
}

.card-photographer {
  &__name {
    font-weight: 400;
    font-size: 2.25rem;
  }
  &__location {
    font-weight: 400;
    font-size: 0.812rem;
    padding-bottom: 2px;
  }
  &__bio {
    font-size: 0.625rem;
    padding-bottom: 4px;
  }
  &__price {
    font-size: 0.562rem;
  }
}

.banner-photographer {
  .card-photographer {
    @media all and (min-width: $md) {
      &__name {
        font-size: 4rem;
      }
      &__location {
        font-size: 1.5rem;
      }
      &__bio {
        font-size: 1.125rem;
      }
    }
  }
  @media all and (min-width: $md) {
    .list-filters__card {
      font-size: 1.125rem;
    }
  }
}

.Sort {
  p {
    font-size: 1.125rem;
  }
}
// components

.form-modal {
  h1 {
    font-weight: 400;
    font-size: 2.25rem;
  }
  label {
    font-weight: 400;
    font-size: 1.5rem;
  }
  .btn-submit {
    font-size: 1.125rem;
  }
}

.rank {
  font-size: 1.5rem;
}
