button {
  width: 50vw;
  height: 35px;
  background-color: $main-color;
  border: none;
  border-radius: $curler;
  color: $color-clear;
  @media all and (min-width: $md) {
    width: 170px;
    height: 69px;
  }
    &#btn-contact {
      :hover, :focus {
      background-color: $secondary-color-box;
      color: $color-dark;
    }
  }
}

.btn-submit {
  width: 50vw;
  height: 35px;
  background-color: $main-color;
  border: none;
  border-radius: $curler;
  color: white;
  @media all and (min-width: $md) {
    width: 170px;
    height: 69px;
  }
}
