@font-face {
  font-family: "dmsans";
  font-display: swap;
  src: url("../../fonts/DMSans/DMSans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "dmsans_regular";
  font-display: swap;
  src: url("../../fonts/DMSans/DMSans-Regular.ttf") format("truetype");
}
