// header {
//   padding: 5% 0;
//   justify-items: center;
//   @media all and (min-width: $md) {
//     height: 12vh;
//     padding: 0;
//     display: flex;
//     justify-content: space-around;
//   }
//   .logo {
//     width: 150px;
//     height: 100%;
//     @media all and (min-width: $md) {
//       width: 200px;
//     }
//   }
//   h1 {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     color: $main-color;
//   }
//   &.header-photographer {
//     padding: 5% 2%;
//     display: flex;
//     justify-content: flex-start;
//     @media all and (min-width: $md) {
//       padding: 0 2%;
//     }
//   }
// }

header {
  padding: 5% 0;
  display: flex;
  justify-content: space-between;
  @media all and (min-width: $md) {
    height: 12vh;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  .logo {
    width: 150px;
    height: 100%;
    @media all and (min-width: $md) {
      width: 200px;
    }
  }
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $main-color;
  }
  &.header-photographer {
    padding: 5% 2%;
    display: flex;
    justify-content: flex-start;
    @media all and (min-width: $md) {
      padding: 0 2%;
    }
  }
}
