.card-photography {
  height: 30vh;
  max-height: 400px;
  margin-bottom: 30px;
  @media all and (min-width: $xsm) {
    width: 45vw;
    max-width: 350px;
  }
  &__img {
    width: 100%;
    height: 90%;
    object-fit: cover;
  }
  &__video {
    width: 100%;
    height: 90%;
    object-fit: cover;
  }
  div {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $main-color;
    .content-like {
      width: 13%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
