.banner-photographer {
  display: flex;
  justify-content: space-between;
  @media all and (min-width: $md) {
    background-color: $color-lightgrey;
    border-radius: $curler;
    height: 313px;
    align-items: center;
  }
  &__info {
    @media all and (min-width: $md) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 30%;
    }
    .contain__info {
      .card-photographer__bio {
        color: $color-grey;
      }
    }
  }
  &__img {
    width: 110px;
    height: 110px;
    border-radius: 100px;
    object-fit: cover;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    @media all and (min-width: $md) {
      width: 210px;
      height: 210px;
    }
  }
}

.filters {
  display: none;
  .sort-by {
    padding-top: 22px;
  }
  @media all and (min-width: $md) {
    display: flex;
    justify-content: space-between;
    width: 15%;
    margin-top: 20px;
  }
}

.list-photography {
  @media all and (min-width: $sm) {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
  }
  li {
    @media all and (min-width: $sm) {
      margin: 0 4% 2% 0;
    }
  }
}

.rank {
  display: none;
  @media all and (min-width: $sm) {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    right: 2vw;
    width: 376px;
    height: 89px;
    padding: 0 31px;
    background-color: $secondary-color-box;
    border-radius: $curler $curler 0 0;
    z-index: 1;
  }
  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // border: 1px solid blue;
    p {
      padding-right: 10px;
    }
  }
}
