header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 10%;
  justify-items: center;
  padding: 5% 0;
  @media all and (min-width: $sm) {
    padding: 2% 0;
    display: flex;
    justify-content: space-around;
  }
  .logo {
    grid-area: 1 / 1 / 2 / 2;
    width: 150px;
    height: 100%;
    @media all and (min-width: $sm) {
      width: 200px;
    }
  }
  nav {
    grid-area: 2 / 1 / 3 / 3;

    @media all and (min-width: $sm) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .list-filters {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      &__card {
        margin: 4px 5px;
      }
    }
  }
  h1 {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $main-color;
  }
}
