.sort-select {
  width: 170px;
  height: 100%;
  z-index: 2;
  position: relative;
  background-color: $main-color;
  border-radius: $curler;
  overflow: visible;
  transition: height 0.2s ease-in-out;
}
.btn-top {
  padding: 20px;
  width: 100%;
  border: none;
  outline: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $main-color;
  cursor: pointer;
  border-radius: 5px;
  color: #f1f1f1;
}
.btn-top svg {
  width: 20px;
}
.bloc-links {
  transition: opacity 0.2s ease-in-out;
  // height: 0;
  opacity: 0;
  padding: 0 10px;
}
.bloc-links li {
  list-style-type: none;
  padding: 15px 0 17px 5px;
  border-top: 1px solid white;
}
.bloc-links li a {
  color: #f1f1f1;
  margin-left: 5px;
}
.bloc-links li:last-child {
  padding-bottom: 25px;
}
